.about h1{
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
}
.about p{
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 50px;
}
.text-center {
    text-align: center;
}

textarea {
    background-color: white !important;
}

div.audio {
    width: 100%;
    min-width: 100%;
    z-index: 10;  
    bottom: 0;
}

#recordAudio {
    background-color: #3e8ed0;
}

.button-container {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
  }
  
  .button-container.active {
    background-color: #666;
  }
  
  .play-button {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    height: 35px;
    cursor: pointer;
    float:right;
  }
  
  .play-button:hover i{
    color: grey;
  
  }
  .button-container:hover {
    background-color: #f1f1f1;
  }
  img.button-image {
    float:left;
  }
  span.button-caption {
    float:left;
  }