{% extends 'mainapp/layouts/landing_layout.html' %} {% load static %} {% block
page_level_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" />
{% endblock %} {% block content %}

<!-- ======= Simple Filler Section ======= -->
<section class="simple-filler" style="padding: 0"></section>
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>About Us</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          Welcome to our website! We are a team of passionate individuals who
          believe in the power of AI to create heartfelt messages for your loved
          ones. We understand the importance of expressing your love and
          appreciation, and we want to help you do just that.
        </p>
        <p>Our main service is:</p>
        <ul>
          <li>
            <i class="ri-check-double-line"></i> Generate a personalized message
            for your loved ones
          </li>
          <li>
            <i class="ri-check-double-line"></i> Generate voiceover of our AI or
            yourself
          </li>
          <li>
            <i class="ri-check-double-line"></i> Create the nice video for your
            loved ones.
          </li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          Our team is dedicated to providing you with the best possible
          experience on our website. We are constantly working to improve our
          platform and provide you with new and exciting features.
          <br />Thank you for visiting our website. We hope you enjoy using our
          service as much as we enjoy creating it for you.
        </p>
        <a href="#" class="btn-learn-more">Learn More</a>
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->
<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Our Members</h2>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="pic">
            <img
              src="{% static 'img/team/team-1.jpg' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h4>Your Name</h4>
            <span>Chief Executive Officer</span>
            <p>Your Short Description Goes Here</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4 mt-lg-0">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="pic">
            <img
              src="{% static 'img/team/team-2.jpg' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h4>Your Assitant Name</h4>
            <span>Product Manager</span>
            <p>Your Asistant's Short Description Goes Here</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="pic">
            <img
              src="{% static 'img/team/team-3.jpg' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h4>Your Memeber Name</h4>
            <span>CTO</span>
            <p>Your CTO's short Description Goes Here</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="pic">
            <img
              src="{% static 'img/team/team-4.jpg'%}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h4>Your Member2's Name</h4>
            <span>Accountant</span>
            <p>Your Accountant's short Description Goes Here</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Team Section -->

{% endblock %}
