{% extends 'mainapp/layouts/landing_layout.html' %}
{% load static %}
{% block page_level_css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/generate_voiceover.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
#loading_gif_block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loading_gif_block img {
  max-width: 100%;
  max-height: 100%;
}
</style>

<script type="text/javascript" src="https://unpkg.com/mic-recorder-to-mp3"></script>

{% endblock%}
{% block content %}
<section class="simple-filler" style="padding:0;">

</section>
<div class="alert alert-danger" role="alert">
  Select Voice 
</div>
<div id = "loading_gif_block" class="text-center" style="display:none;">
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="loading-text">
            <h2>Hang tight! Our furry little friends are working hard in the recording studio to get your AI voiceover ready! Have a berry good time while you wait!
              This process might take up to 60 seconds.</h2>
        </div>

        <iframe src="https://giphy.com/embed/btbUGSHh3f6eBjbDfh" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/Operand-btbUGSHh3f6eBjbDfh"></a></p>

  
    </div>      

  </div>
    
</div>
<section id="about" class="about">
<div class="container" data-aos="fade-up">

  <div class="row my-2 mx-2">
    <div class="col-md-2">
      <a class="btn btn-light float-left" onClick="javascript:history.go(-1);">&lt;&lt;Back</a>
    </div>
    <div class="col-md-10">
      <h2 class="mx-auto">Generate A Personalized Video {{type.title}}</h2>
    </div>
  </div>
  <div class="row my-2 text-center">
    <p class="text-center">
      <span class="mx-auto" style="font-size: 18px; font-weight: bolder;">Generate VoiceOver</span>
    </p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="mb-2">
        <textarea rows="12" name="script" class="form-control" id="script" readonly>{{script}}</textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="form-check">
        <input class="aivoice form-check-input" type="checkbox" value="" id="flexCheckCheckedFA" onclick="selectAIVoice(1)" >
        <label class="form-check-label" for="flexCheckCheckedFA">
          AI Voice 1
        </label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-check">
        <input name="aivoice" class="aivoice form-check-input" type="checkbox" value="" id="flexCheckCheckedMA" onclick="selectAIVoice(2)" >
        <label class="form-check-label" for="flexCheckCheckedMA">
          AI Voice 2
        </label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-check">
        <input name="aivoice" class="aivoice form-check-input" type="checkbox" value="" id="flexCheckCheckedFC"  onclick="selectAIVoice(3)">
        <label class="form-check-label" for="flexCheckCheckedFC">
          AI Voice 3
        </label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-check">
        <input name="aivoice" class="aivoice form-check-input" type="checkbox" value="" id="flexCheckCheckedMC"  onclick="selectAIVoice(4)">
        <label class="form-check-label" for="flexCheckCheckedMC">
          AI Voice 4
        </label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-check">
        <input class="aivoice form-check-input" type="checkbox" value="" id="flexCheckCheckedMyVoice" onclick="selectAIVoice(5)" >
        <label class="form-check-label" for="flexCheckCheckedMyVoice">
          My Voice
        </label>
      </div>
    </div>
    <div class="col-md-2">
      <a class="w-100 btn btn-primary" id="audio_play_button"> Listen Sample</a>
    </div> 
  </div>
  <div class="row mt-2">
    <div class="col-md-3">
      <a class="btn btn-primary w-100" href="{% url 'review_script' %}">Go Back To Step 2</a>
    </div>
    <div class="col-md-3">
      <div class="form-check">
        <button class="w-100 btn btn-primary" id="voice_record_show_modal_button" >Record My Voice</button>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-check">
        <button class="w-100 btn btn-primary" id="voice_upload_show_modal_button">Upload My Voice File</button>
      </div>
    </div>
    <div class="col-md-3">
      <button id="" class="btn btn-primary w-100" onclick="goToVideo()">Go To Step 3 - Video</button>
    </div>

  </div>

</div>
</section><!-- End About Us Section -->



<div class="modal fade " id="audioPlayModal" tabindex="-1" role="dialog" aria-labelledby="audioPlayModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" >
    <div class="modal-content">
      <div class="modal-body">
        <audio id="audio" controls style="width:100%">
          <source src="{{MEDIA_URL}}/voice/Male_Adult.mp3" type="audio/mp3">
          There is no such file
        </audio>
      </div>
    </div>
  </div>
</div>

<div class="modal fade " id="voiceRecordModal" tabindex="-1" role="dialog" aria-labelledby="voiceRecordModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Record Your Voice - Read following script</h5>

        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"> 
        <div class="container text-center">
          <div>
            <textarea id="edited_script" rows="12" name="script" class="form-control" id="script" disabled>
  While John's social life was blooming, his life at work was the polar opposite. 
  He works at an office for an insurance company, and while the pay is good, the workload is overwhelming.
  Each morning, he checks his work email to find 50 new requests that have to be immediately dealt with. 
  If he doesn't quickly dispatch and process the emails before lunch, he will get caught behind schedule and
  most likely have to work overtime. It's extremely stressful and more so when his boss is watching him over his shoulder.
  John's boss has to be strict with all the employees. One mistake and it could cost the company a small fortune. Not only will the employee be
  disciplined harshly, but the boss will be too.
  Insurance is a difficult business to work in. 
            </textarea>
          </div>
          <button class="mt-2 mb-2 btn btn-primary" id="start_record_button">Start recording</button>
          <ul id="playlist"></ul>
          <div id="record_playlist_control" class="row">
            <button disabled id="upload_record_button" class="btn btn-outline-primary float-right" onclick="uploadRecord()">Upload</button>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade " id="uploadVoiceModal" tabindex="-1" role="dialog" aria-labelledby="uploadVoiceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload You Voice File</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"> 
        <div class="container ">
          <div>
            You file should be longer than 1 min and shorter than 3 min
          </div>
          <div class="row my-2">
            <form id="uploadForm">
              {% csrf_token%}
              <div class="form-group">
                <input class="form-control form-control-md" id="fileInput" type="file" name="audio_file" />
              </div>
              <div class="corm-group">
                <button type="submit" class="btn btn-outline-primary float-right">Upload</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let voice_register_num = parseInt("{{voice_register_num}}"); 
  $(".alert").css("display", "none");
  function goToVideo(){
    if(selectedIndex == 0){
      alert("Select Voice");
      return;
    }
    if(selectedIndex == 5){
      if (voice_register_num == 5){
        alert("Register You Voice/n You can upload your voice file or record");
        return;
      }
    }
    var formData = new FormData();
    const script = $("#script").text()
    formData.append('script', script);
    formData.append('voice_type', ''+selectedIndex);
    formData.append("csrfmiddlewaretoken", csrftoken);
    $("#loading_gif_block").css("display", "block");
    // send POST request to server with FormData as body
    fetch('{% url "generate_voiceover" %}', {
      method: 'POST',
      body: formData
    })
    .then(response => {
 
      $("#loading_gif_block").css("display", "none");
      window.location.href = "{% url 'generate_video' %}";
      console.log('Success:', response);
    })
    .catch(error => {
      $("#loading_gif_block").css("display", "none");
      console.error('Error:', error);
    });
  }

  function uploadRecord(){
    blobUrl = $("#playlist audio").prop("src");
   // assume 'blobSrc' is the blob URL obtained from the audio element
    fetch(blobUrl)
      .then(response => {
      return response.blob()
      })
      .then(blob => {
        // create FormData object and add blob to it
        var formData = new FormData();
        formData.append('audio', blob, 'audio.mp3');
        formData.append("csrfmiddlewaretoken", csrftoken)
        // send POST request to server with FormData as body
        fetch('{% url "upload_voice_record" %}', {
          method: 'POST',
          body: formData
        })
        .then(response => {
          voice_register_num --;
          selectAIVoice(5);
          console.log('Success:', response);
        })
        .catch(error => {
          alert("upload error")
          console.error('Error:', error);
        });
      });
    }

  let selectedIndex = 0
  function uncheckAll(){
    var checkList = [...$(".form-check-input")];
    checkList.map(check => {
      $(check).prop('checked',false);
      console.log("uncheck");
    })
  }
  function selectAIVoice(index){
    console.log(""+index + "  " + selectedIndex)
    if(index == selectedIndex){
      selectedIndex = 0;
      uncheckAll();
      var audio =$("#audio");
      audio.prop('src', "");
      // Load the new audio file
      audio[0].load();
      return;
    }
    selectedIndex = index;
    uncheckAll();
    switch(index) {
      case 1:
        // code block
        $("#flexCheckCheckedFA").prop("checked", true);
        var audio = $("#audio");
        audio.prop('src', "{{MEDIA_URL}}/voice/Female_Adult.mp3");
        // Load the new audio file
        audio[0].load();
        break;
      case 2:
        // code block
        $("#flexCheckCheckedMA").prop("checked", true);
        var audio = $("#audio");
        audio.prop('src', "{{MEDIA_URL}}/voice/Male_Adult.mp3");
        // Load the new audio file
        audio[0].load();
        break;
      case 3:
      // code block
        $("#flexCheckCheckedFC").prop("checked", true);
        var audio = $("#audio");
        audio.prop('src', "{{MEDIA_URL}}/voice/Female_Child.mp3");
        // Load the new audio file
        audio[0].load();
        break;
      case 4:
        $("#flexCheckCheckedMC").prop("checked", true);
        var audio = $("#audio");
        audio.prop('src', "{{MEDIA_URL}}/voice/Male_Child.mp3");
        // Load the new audio file
        audio[0].load();
      // code block
        break;
      case 5:
        // code block
        $("#flexCheckCheckedMyVoice").prop("checked", true);
        var audio = $("#audio");
        audio.prop('src', "{{MEDIA_URL}}/users/{{request.user}}/voice/voice.mp3");
        // Load the new audio file
        audio[0].load();
        break;
      default:
        // code block
    }
  }
  function submitForm() {
    document.getElementById('loading-message').style.display = 'block';
    formData.append('language', document.getElementById('language').value);
  }
  
  $(document).ready(function(){
    $('#uploadForm').submit(function(e) {
      e.preventDefault(); // prevent the form from submitting normally
      var fileInput = $('#fileInput')[0];
      if(fileInput.files.length == 0){
        alert("Select your voice file");
        return;
      }
      var formData = new FormData(this); // get the form data
      
      $.ajax({
        url: '{% url "upload_voice_file" %}', // URL for the server-side script that handles the upload
        type: 'POST',
        data: formData,

        processData: false, // tell jQuery not to process the data
        contentType: false, // tell jQuery not to set the content type
        success: function(response) {
          // handle the server's response
          voice_register_num --;
          selectAIVoice(5);
        }
      });
    });

    var audio = document.getElementById("audio");
    audio.controlsList = 'nodownload';
    audio.addEventListener('contextmenu', function(event) {
      event.preventDefault();
    });
    $("#audioPlayModal").on(" hidden.bs.modal", function(){
      var audio = document.getElementById("audio");
      audio.pause();
    });
    $("#audioPlayModal").on("shown.bs.modal", function(){
      var audio = document.getElementById("audio");
      audio.play();
    });
    $("#audio_play_button").click(function(){
      $("#audioPlayModal").modal("show");
    })
    
    $("#voice_record_show_modal_button").click(function(){
      if(voice_register_num == 0){
        alert("You have registered your voice 5 times. You can't register again");
        return;
      }
      alert("You can register your voice " + voice_register_num + "times. Please be serious about it. Registering your voice cost us.")
      $("#voiceRecordModal").modal("show");
    })
    $("#voice_upload_show_modal_button").click(function(){
      if(voice_register_num == 0){
        alert("You haveregistered your voice 5 times");
        return;
      }
      alert("You can register your voice " + voice_register_num + "times. Please be serious about it. Registering your voice cost us.")
      
      $("#uploadVoiceModal").modal("show");
    })

  
  })
</script>
<script>
  const button = document.querySelector('#start_record_button');

  // set the options of this 3rd party mp3 js encoder
  const recorder = new MicRecorder({
      bitRate: 128
  });

  // start recording with a click of the button
  button.addEventListener('click', startRecording);

  // start the recording
  function startRecording() {
      recorder.start().then(() => {
          button.textContent = 'Stop recording';
          button.classList.toggle('btn-danger');
          button.removeEventListener('click', startRecording);
          button.addEventListener('click', stopRecording);
          $("#upload_record_button").prop("disabled", true) 
      }).catch((e) => {
          console.error(e);
      });
  }

  // stop the recording
  function stopRecording() {
      // create the mp3
      recorder.stop().getMp3().then(([buffer, blob]) => {
          console.log(buffer, blob);
          // create the file
          const file = new File(buffer, 'audio.wav', {
              type: blob.type,
              lastModified: Date.now()
          });
          
          // display the as an Audio object
          const li = document.createElement('li');
          const player = new Audio(URL.createObjectURL(file));
          $(player).addClass("w-100");
          player.controls = true;

          $(li).append(player);
          var playlist = document.querySelector('#playlist');
          playlist.innerHTML="";
          playlist.appendChild(li)

          // reset
          button.textContent = 'Start recording';
          button.classList.toggle('btn-danger');
          button.removeEventListener('click', stopRecording);
          button.addEventListener('click', startRecording);
          $("#upload_record_button").prop("disabled", false) 
      }).catch((e) => {
          console.error(e);
      });
  }
</script>

{% endblock %}