{% extends 'mainapp/layouts/landing_layout.html' %} 
{% load static %}{% block page_level_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
{% endblock %} {% block content %}
<section class="simple-filler" style="padding: 0"></section>

<section id="login" class="login">
  <div class="container" data-aos="fade-up">
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first my-4">
          <h3>Reset Password</h3>
          <p class="px-2">Forgotten your password?<br> Enter your email address below, and we'll email instructions for setting a new one.</p>
        </div>

        <!-- Login Form -->
        <form method="POST" class="login-form">
          {% csrf_token %}
          <input
            type="email"
            id="email"
            class="fadeIn second"
            name="email"
            placeholder="email"
          />
          <input type="submit" class="fadeIn fourth" value="Reset Password" />
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
