{% extends 'mainapp/layouts/landing_layout.html' %} {% load static %}
{% block page_level_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
{% endblock %} {% block content %}
<section class="simple-filler" style="padding: 0"></section>
<section id="login" class="login">
  <div class="container" data-aos="fade-up">
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first my-4">
          <h3>Reset Password</h3>
          <p class="px-2">Please check your inbox and follow the instruction to reset your password.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
