{% extends 'mainapp/layouts/landing_layout.html' %} {% load static %}
 {% block page_level_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
{% endblock %} {% block content %}
<section class="simple-filler" style="padding: 0"></section>
<section id="login" class="login">
  <div class="container" data-aos="fade-up">
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first my-4">
          <h3>Update Password</h3>
          {% if login_result == False %}
          <p style="color: lightcoral">{{message}}</p>
          {% endif%}
        </div>

        <!-- Login Form -->
        <form method="POST" class="login-form">
          {% csrf_token %}
          <input
            type="password"
            id="new_password1"
            class="fadeIn second"
            name="new_password1"
            placeholder="Password"
          />
          <input
            type="password"
            id="new_password2"
            class="fadeIn third"
            name="new_password2"
            placeholder="Confirm Password"
          />
          <input type="submit" class="fadeIn fourth" value="Update Password" />
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
