{% extends 'mainapp/layouts/landing_layout.html' %}
{% load static %}
{% block page_level_css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/review_script.css' %}">
<style>
  tbody > tr:last-child 
  { 
    color:#FF0000; 
  }
  tbody > tr:first-child 
  { 
    color:#ffff00; 
  }
  th.name-col {
    color:#000000; 
  }
</style>
{% endblock %}


{% block content %}
<!-- ======= Simple Filler Section ======= -->
<section class="simple-filler" style="padding:0;">
</section>
<section id="review_script" class="review_script" >
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="md-class-3">
        <h2>Stats</h2>
      </div>
    </div>
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="name-col">Name</th>
          <th scope="col">Starts</th>
          <th scope="col">Wins</th>
          <th scope="col">Top 5</th>
          <th scope="col">Top 10</th>
          <th scope="col">Laps</th>
          <th scope="col">Laps<br> Led</th>
          <th scope="col">Cautions</th>
          <th scope="col">Caution<br> Laps</th>
          <th scope="col">iRating<br>Gain/Loss</th>
          <th scope="col">Safty<br>Gain/Loss</th>
        </tr>
      </thead>
      <tbody>
        {% for each_row in data %}
        <tr>
          <th scope="row">{{each_row.name}}</th>
          <th scope="row">{{each_row.starts}}</th>
          <th scope="row">{{each_row.wins}}</th>
          <th scope="row">{{each_row.top_5}}</th>
          <th scope="row">{{each_row.top_10}}</th>
          <th scope="row">{{each_row.laps}}</th>
          <th scope="row">{{each_row.laps_lead}}</th>
          <th scope="row">{{each_row.cautions}}</th>
          <th scope="row">{{each_row.caution_laps}}</th>
          <th scope="row">{{each_row.i_rating_gain_loss}}</th>
          <th scope="row">{{each_row.safety_gain_loss}}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section><!-- End About Us Section -->
<!-- Button trigger modal -->


{% endblock %}