{% extends 'mainapp/layouts/landing_layout.html' %}
{% load static %}
{% block page_level_css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/review_script.css' %}">
<style>
 
</style>
{% endblock %}


{% block content %}
<!-- ======= Simple Filler Section ======= -->
<section class="simple-filler" style="padding:0;">
</section>
<section id="review_script" class="review_script" >
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="md-class-3">
        <h2>Stats</h2>
      </div>
    </div>
    <form class="form-inline" action="{% url 'stats' %}" method="POST">
      {% csrf_token %}
      <label class="mr-2" for="start_date">Start Date</label>
      <input type="date" class="form-control mb-2 mr-sm-2" id="start_date"  name="start_date" value="{{start_date}}">
    
      <label class="mr-2" for="end_date">End Date</label>
      <input type="date" class="form-control mr-2" id="end_date" placeholder="Username" name="end_date" value="{{end_date}}" >
      
    
      <button type="submit" class="btn btn-primary mb-2 mr-2">Get Data</button>
      <button type="button" class="btn btn-primary mb-2 mr-2">Generate Image</button>
    </form>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Starts</th>
          <th scope="col">Wins</th>
          <th scope="col">Top 5</th>
          <th scope="col">Top 10</th>
          <th scope="col">Laps</th>
          <th scope="col">Laps<br> Led</th>
          <th scope="col">Cautions</th>
          <th scope="col">Caution<br> Laps</th>
          <th scope="col">iRating<br>Gain/Loss</th>
          <th scope="col">Safty<br>Gain/Loss</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">ADAM GLATFELTER</th>
          <td>4</td>
          <td>0</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
        </tr>
      </tbody>
    </table>
  </div>
</section><!-- End About Us Section -->
<!-- Button trigger modal -->


{% endblock %}