{% extends 'mainapp/layouts/landing_layout.html' %}
{% load static %}☻

{% block page_level_css %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">

<script type="text/javascript" src="https://unpkg.com/mic-recorder-to-mp3"></script>
{% endblock %}
{% block content %}


<!-- ======= Simple Filler Section ======= -->
<section class="simple-filler" style="padding:0;">

</section>
<section id="videos" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>My Videos</h2>
      </div>
      <div class="row">

        {% for video in result_videos%}  
        <div class="col-xl-3 col-md-4 d-flex align-items-stretch mb-4" data-aos="zoom-in" data-aos-delay="100" style="position:relative">
          <div class="icon-box w-100 video-option-card" style="opacity:0.6">
              <a href="{{video}}">
                <video style="width:100%">
                    <source src="{{video}}">
                </video>
              </a>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </section><!-- End videos Section -->
<!-- ======= Team Section ======= -->
<section id="voice" class="team section-bg">
    <div class="container" data-aos="fade-up">

    <div class="section-title">
    <h2>My Voice</h2>
    </div>

    <div class="row">
        
    <div class="col-lg-6">
        <audio class="w-100" controls>
            <source src="{{voice}}?t="+Date.Now()>
        </audio>
    </div>

    <div class="col-lg-6 mt-4 mt-lg-0">
        <div class="row">
            <div class="col-md-6">
                <button class="w-100 btn btn-primary my-1" id="voice_record_show_modal_button">Record</button>    
            </div>
            <div class="col-md-6">
                <button class="w-100 btn btn-primary my-1" id="voice_upload_show_modal_button">Upload</button>    
            </div>
        </div>
    </div>


    </div>

    </div>
</section><!-- End Voices Section -->

<div class="modal fade " id="voiceRecordModal" tabindex="-1" role="dialog" aria-labelledby="voiceRecordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Record Your Voice - Read following script</h5>
  
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"> 
          <div class="container text-center">
            <div>
              <textarea id="edited_script" rows="12" name="script" class="form-control" id="script" disabled>
    While John's social life was blooming, his life at work was the polar opposite. 
    He works at an office for an insurance company, and while the pay is good, the workload is overwhelming.
    Each morning, he checks his work email to find 50 new requests that have to be immediately dealt with. 
    If he doesn't quickly dispatch and process the emails before lunch, he will get caught behind schedule and
    most likely have to work overtime. It's extremely stressful and more so when his boss is watching him over his shoulder.
    John's boss has to be strict with all the employees. One mistake and it could cost the company a small fortune. Not only will the employee be
    disciplined harshly, but the boss will be too.
    Insurance is a difficult business to work in. 
              </textarea>
            </div>
            <button class="mt-2 mb-2 btn btn-primary" id="start_record_button">Start recording</button>
            <ul id="playlist"></ul>
            <div id="record_playlist_control" class="row">
              <button disabled id="upload_record_button" class="btn btn-outline-primary float-right" onclick="uploadRecord()">Upload</button>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="modal fade " id="uploadVoiceModal" tabindex="-1" role="dialog" aria-labelledby="uploadVoiceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upload You Voice File</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"> 
          <div class="container ">
            <div>
              You file should be longer than 1 min and shorter than 3 min
            </div>
            <div class="row my-2">
              <form id="uploadForm">
                {% csrf_token%}
                <div class="form-group">
                  <input class="form-control form-control-md" id="fileInput" type="file" name="audio_file" />
                </div>
                <div class="corm-group">
                  <button type="submit" class="btn btn-outline-primary float-right">Upload</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
    let voice_register_num = parseInt("{{voice_register_num}}"); 
    function uploadRecord(){
    blobUrl = $("#playlist audio").prop("src");
   // assume 'blobSrc' is the blob URL obtained from the audio element
    fetch(blobUrl)
      .then(response => {
      alert("success getting blob")
      return response.blob()
      })
      .then(blob => {
        // create FormData object and add blob to it
        var formData = new FormData();
        formData.append('audio', blob, 'audio.mp3');
        formData.append("csrfmiddlewaretoken", csrftoken)
        // send POST request to server with FormData as body
        fetch('{% url "upload_voice_record" %}', {
          method: 'POST',
          body: formData
        })
        .then(response => {
          alert("upload success")
          voice_register_num --;
          selectAIVoice(5);
          console.log('Success:', response);
        })
        .catch(error => {
          alert("upload error")
          console.error('Error:', error);
        });
      });
    }
    
    $(document).ready(function(){
    $('#uploadForm').submit(function(e) {
      e.preventDefault(); // prevent the form from submitting normally
      var fileInput = $('#fileInput')[0];
      if(fileInput.files.length == 0){
        alert("Select your voice file");
        return;
      }
      var formData = new FormData(this); // get the form data
      
      $.ajax({
        url: '{% url "upload_voice_file" %}', // URL for the server-side script that handles the upload
        type: 'POST',
        data: formData,

        processData: false, // tell jQuery not to process the data
        contentType: false, // tell jQuery not to set the content type
        success: function(response) {
          // handle the server's response
          alert("Upload Success")
          voice_register_num --;
        }
      });
    });

    $("#voice_record_show_modal_button").click(function(){
      if(voice_register_num == 0){
        alert("You have registered your voice 5 times. You can't register again");
        return;
      }
      alert("You can register your voice " + voice_register_num + "times. Please be serious about it. Registering your voice cost us.")
      $("#voiceRecordModal").modal("show");
    })
    $("#voice_upload_show_modal_button").click(function(){
      if(voice_register_num == 0){
        alert("You haveregistered your voice 5 times");
        return;
      }
      alert("You can register your voice " + voice_register_num + "times. Please be serious about it. Registering your voice cost us.")
      
      $("#uploadVoiceModal").modal("show");
    })

  
  })

</script>

{% endblock %}