{% extends 'mainapp/layouts/landing_layout.html' %} {% load static %}☻ {% block
page_level_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" />
{% endblock %} {% block content %}

<!-- ======= Simple Filler Section ======= -->
<section class="simple-filler" style="padding: 0"></section>
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>
        Hang tight! Our furry little friends are working hard in the recording
        studio to get your AI voiceover ready! Have a berry good time while you
        wait
      </h2>
    </div>
    <div class="loading-page">
      <div class="counter">
        <p>Generateing Video Script</p>
        <h1>
          0%
          <!--
            h1.abs loading
            h1.abs.color loading
            -->
        </h1>
        <hr />
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  {% endblock %}
</section>
