{% extends 'mainapp/layouts/landing_layout.html' %}
{% load static %}☻

{% block page_level_css %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}
{% block content %}


<!-- ======= Simple Filler Section ======= -->
<section class="simple-filler" style="padding:0;">

</section>
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Congratulations, your email is verified and you can now start creating a video!</h2>
        </div>

        <div class="row content">
            <a href="{% url 'home' %}" class="btn-get-started scrollto">Get Started</a>
        </div>
    </div>    

</div>


{% endblock %}